*{
    margin: 0;
    padding: 0;
}
html,body{
    width:100%;
    background-image: linear-gradient(left,#F85661,#F24268);
    background-image: -webkit-linear-gradient(left,#F85661,#F24268);
    background-image: -o-linear-gradient(left,#F85661,#F24268);
    background-image: -moz-linear-gradient(left,#F85661,#F24268);
    background-image: -ms-linear-gradient(left,#F85661,#F24268);
}
#container{
    width: 100%;;
    height: 100%;

}
#header{
    width: 100%;
}
#header img {
    width: 100%;
}
#main{
    width: 90%;
   margin-left: 5%;
}
#input{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-flow: column wrap;
    color: white;
    font-size: 1.5em;
}
.info{
    width: 100%;
    line-height: 50px;
}
#input input{
    width: 100%;
    height: 1em;
    border: none;
    background: none transparent scroll repeat 0% 0%;
    outline: none;
    font-size: 1em;
    border-bottom: 1px solid white;
}
#login{
    width: 100%;
    height: 3em;
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: center;
}
#login button{
    width: 60%;
    margin: 0 auto;
    margin-top: 1.5em;
    text-align: center;
    font-size: 1.5em;
    height: 2em;
    line-height: 2em;
    border: 1px solid white;
    border-radius: 2em;
    color: white;
    background-image: linear-gradient(left,#F85661,#F24268);
    background-image: -webkit-linear-gradient(left,#F85661,#F24268);
    background-image: -o-linear-gradient(left,#F85661,#F24268);
    background-image: -moz-linear-gradient(left,#F85661,#F24268);
    background-image: -ms-linear-gradient(left,#F85661,#F24268);
}
#forget{
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1em;
    justify-content: center;
    margin-top: 1em;
}
#message{
    width: 150px;
    height: 50px;
    opacity:0.5;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 50px;
    position: absolute;
    z-index: -1;
}
a{
    color: white;
    text-decoration: none;
}
#top{
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}
#top div{
    font-size: 1.5em;
    color: white;
    font-family:黑体;
    align-items:center;
    margin-top: 10px;
}
.login,.register{
    padding-top: 16px;
}