<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>找回密码</title>
    <link rel="stylesheet" href="/css/user/register.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
</head>
<body>
<div id="message"></div>
<div id="container">
    <div class="header">
        <div class="back">
            <img src="/image/user/icon_back.jpg" height="100%" width="100%"/>
        </div>
        <div class="register">注册</div>
        <div></div>
    </div>
    <div class="main">
        <div class="info"><p>手机号码</p><input type="text" id="phone" th:value="${phone2}"/></div>
        <div class="info" id="validation"><div id="validation_left"><p>短信验证码</p><input id="input_validation" type="text" th:value="${validation2}"/></div><div id="button"  th:text="${validation2}">获取验证码</div></div>
        <div class="info"><p>新密码</p><input type="password" id="password" th:value="${password2}"/></div>
        <div class="info"><p>确认密码</p><input type="password" id="sure_password" /></div>
    </div>
    <div class="footer">
        <div id="btn_register">找回密码</div>
    </div>
</div>
<script src="/js/jquery-3.1.1.min.js"></script>
<script>
    $(document).ready(function () {
        //<![CDATA[
        $(function () {
            if ($("#button").text()==""){
                $("#button").text("获取验证码");
            }
        })
        <!-- 获取验证码 -->
        $("#button").click(function () {
            var rand="";
            var i=0;
            rand= Math.floor(Math.random()*10000);
            if (rand<1000){
                rand=rand*10;
            }
            $(this).text(rand)
        });
        <!-- 消息弹出 -->
        function message() {
            $("#message").css("top",window.innerHeight/2-$("#message").height()/2);
            $("#message").css("left",window.innerWidth/2-$("#message").width()/2);
            $("#message").css("z-index","2");
        }
        var flag=false;
        <!-- 手机号码验证 -->
        $("#phone").blur(function () {
            var phone=$(this).val();
            if (phone==""){
                flag=false
                message()
                $("#message").text("手机号不能为空");
                $("#phone").focus();
            }else if(!$("#phone").val().match(/^(((13[0-9]{1})|159|153)+\d{8})$/)){
                flag=false
                message();
                $("#message").text("手机格式不正确");
            }else {
                flag=true;
            }
        })
        $("#input_validation").blur(function () {
            var validation=$(this).val();
            if(validation=="" && $("#button").text()!="获取验证码"){
                flag=false
                message()
                $("#message").text("验证码错误");
            }else if (validation!=$("#button").text() && validation!="" ){
                flag=false
                message()
                $("#message").text("验证码错误");
            }else {
                flag=true;
            }
        })
        $("#btn_register").mouseenter(function () {
            $(this).css("cursor","pointer");
        })
        $("#sure_password").blur(function () {
            if ($(this).val()!=$("#password").val()){
                flag=false;
                message()
                $("#message").text("两次密码输入不相同");
            }else {
                flag=true;
            }
        })
        $("#btn_register").click(function () {
            if (flag==true){
                var _data={};
                _data.phone=$("#phone").val();
                _data.password=$("#password").val();
                $.ajax({
                    type:"post",
                    url:"/user/find",
                    data:JSON.stringify(_data),
                    contentType:"application/json",
                    success:function (data) {
                       if (data=="0"){
                           message();
                           $("#message").text("手机号不存在");
                       }else {
                           window.location="/user/login";
                       }
                    }
                })
            }else {
                message();
                $("#message").text("信息输入有误");
            }
        })
        $("#message").click(function () {
            $("#message").css("z-index","-1");
        })
        $(".back").click(function () {
            window.history.back();
        })

        //]]>
    })
</script>
</body>
</html>