<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="height=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <title>登录</title>
    <link rel="stylesheet" href="/css/user/login.css"/>
</head>
<body>
<div id="message"></div>
    <div id="container">
        <div id="top">
            <div class="back">
                <img src="/image/user/icon_back.jpg" height="100%" width="100%"/>
            </div>
            <div class="login">登录</div>
            <div class="register">注册</div>
        </div>
        <div id="header"><img src="/image/user/login.jpg"/></div>
        <div id="main">
            <div id="input">
                <div class="info" >手机</div>
                <div class="info" ><input type="text" id="account"/></div>
                <div class="info" >密码</div>
                <div class="info" ><input type="password" id="password"/></div>
            </div>
        </div>
        <div id="login"><button>登录</button><div id="forget"><a href="/user/find">忘记密码</a></div></div>
    </div>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/user/login.js"></script>
</body>
</html>