<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户注册</title>
    <link rel="stylesheet" href="/css/user/register.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
</head>
<body>
<div id="message"></div>
<div id="container">
    <div class="header">
        <div class="back">
            <img src="/image/user/icon_back.jpg" height="100%" width="100%"/>
        </div>
        <div class="register">注册</div>
        <div></div>
    </div>
    <div class="main">
        <div class="info"><p>手机号码</p><input type="text" id="phone" th:value="${phone2}"/></div>
        <div class="info" id="validation"><div id="validation_left"><p>短信验证码</p><input id="input_validation" type="text" th:value="${validation2}"/></div><div id="button"  th:text="${validation2}">获取验证码</div></div>
        <div class="info"><p>真实姓名</p><input type="text" id="name" th:value="${name2}"/></div>
        <div class="info"><p>所在小区</p><input type="text" id="city" placeholder="点击选择所在小区" readonly="readonly" th:value="${city2}"/></div>
        <div class="info"><p>详细地址（可注册后补充填写）</p><input type="text" id="address" th:value="${address2}"/></div>
        <div class="info"><p>登录密码</p><input type="password" id="password" th:value="${password2}"/></div>
        <div class="info"><p>确认密码</p><input type="password" id="sure_password" /></div>
    </div>
    <div class="footer">
        <div id="btn_register">提交注册</div>
    </div>
</div>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/user/register.js"></script>
</body>
</html>