*{
    margin:0px;
    padding:0px;
}
#container{
    display: flex;
    display: -webkit-flex;
    flex-direction:column;
    flex-wrap:wrap;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
#welcome{
    display: inline-flex;
    display: -webkit-flex;
    flex-direction:column;
    flex-wrap:wrap;
    width: 100%;
    margin: 0 auto;
}
#show{
    display: inline-flex;
    display: -webkit-flex;
    display:block;
    flex-direction:column;
    flex-wrap:wrap;
    position: absolute;
    right: 10%;
    top: 6%;
    border: 1px solid white;
    width: 6em;
    height: 4em;
    line-height: 4em;
    font-size: 2em;
    text-align: center;
    border-radius: 1.5em;
}